.footer {
  background: $color-primary;
  position: relative;

  &__contact {
    position: relative;

    &--heading {
      margin-bottom: 0.5rem;
    }

    &--address {
      display: inline-block;
      margin-top: 1rem;
    }
  }

  &__links {
    &--heading {
      font-size: 1.8rem;
    }

    &--list {
      list-style-type: none;

      li {
        display: inline-block;
        margin: 1.5rem 1rem 1.5rem 0;

        a {
          display: inline-block;

          i {
            padding: 1rem;
            transition: all 0.5s;

            &:hover {
              background: $color-white;
              border-radius: 2px;
              box-shadow: 0 0.2rem 0.5rem rgba($color-primary-dark, 0.5);
            }
          }
        }
      }
    }
  }

  &__comments {
    width: 100%;
    height: 15rem;
    margin: 0 auto;
    padding: 1rem 0.5rem;

    .card-container {
      width: 96%;
      height: 100%;

      .fade {
        animation-name: fade;
        animation-duration: 2s;
      }
    }
  }
}
