.header {
  background: linear-gradient(
      45deg,
      rgba($color-primary-dark, 0),
      rgba($color-primary-light, 0.3)
    ),
    url(../images/bed2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 3;

  &__logo-box {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 5%;
    border: 1px solid $color-white;
    padding: 1rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
}
