.navbar {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 5rem;
  right: 5rem;
  transition: all 0.2s;
  z-index: 5;

  input {
    display: none;
  }

  &__trigger {
    cursor: pointer;
  }

  &__list {
    background: $color-white;
    padding: 1.5rem 3rem;
    list-style-type: none;
    font-size: 1.5rem;
    border-radius: 2px;
    box-shadow: 0 0.3rem 0.6rem rgba($color-black, 0.1);
    display: none;

    li {
      margin: 1rem 0;
      padding: 1rem 0;
      letter-spacing: 0.2rem;

      a:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}

input:checked ~ .navbar__list {
  display: block;
  animation-name: moveAndFade;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

.navbar__list {
  li {
    position: relative;

    .submenu {
      list-style-type: none;
      padding: 0 1rem;
      font-size: 1.2rem;
      display: none;
    }

    label {
      display: block;
    }

    label:hover {
      cursor: pointer;
    }
  }
}

input:checked ~ .submenu {
  display: block;
}
