// colors
$color-primary-light: #ffab40;
$color-primary: #ff9100;
$color-primary-dark: #ff6d00;

$color-text-primary: #212121;
$color-text-secondary: #fafafae7;
$color-text-secondary-2: #999;

$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// slides
$slide-count: 5;
